/*general*/
body{
    font-family: arial;
}

/*Header---------------------------------------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,25,82);
    height: 100px;
}

.logo-button{
    height: 60px;
    background: none;
    border: none;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

.left img{
    height: 60px;
}

.nameshop-button{
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
}

.cart-button{
    background: none;
    border: none;
}

.right img{
    height: 40px;
}

.news{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
    margin-left: 20px;
    margin-right: 40px;
}


.intro-button{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.cart{
    position: relative;
}

.cart p{
    color: white;
    position: absolute;
    top: -17px;
    right: -4px;
    border: 2px solid white;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    background-color: rgb(0,25,82);
}

/*main-body-----------------------------------------------------------------*/
.topic{
    display: flex;
    max-width: 1000px;
}

.main-body{
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}

.topic img{
    max-width: 500px;
    height: auto;
    margin-right: 15px;
}

.info-news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
}

.title-content{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0px;
}

.date{
    color: gray;
}

.content p{
    text-align: justify;
}

.content a{
    color: rgb(0,25,82);

}

